{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| Séries
{% endblock %}

{% block body %}
	<section class="section-program">
		<div class="bloc-head d-flex justify-content-around align-items-center">
			<h1 class="p-4">Liste de toutes les séries</h1>
			<a class="btn btn-lg btn-outline-secondary mb-4" href="/program/new">Ajouter une série</a>
		</div>
		<div class="container">
			<div class="row">
				{% for program in programs %}
					<div class="col-12 col-sm-4 col-md-3 g-4 mb-4">
						<div class="card card-program">
							<img src="{{program.poster}}" class="rounded-top img-card" alt="Image de la série">
							<div class="card-body">
								<h2 class="text-dark">{{program.title}}</h2>
								<p class="text-dark">{{program.synopsis}}</p>
							</div>
							<a class="btn btn-lg btn-outline-secondary" href="{{path('program_show', {"slug" : program.slug})}}">En savoir +</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
