{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}|
	{{program.title}}
{% endblock %}

{% block body %}
	<div class="section-one-prog">
		<a class="btn btn-lg btn-light m-4" href="/program">Retour</a>
		<div class="bloc-head d-flex justify-content-around align-items-center">
			<h1 class="p-4 text-center">{{program.title}}</h1>
			<a class="btn btn-lg btn-outline-secondary mb-4" href="{{path('program_edit', {"slug": program.slug})}}">Éditer une série</a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col mb-4">
					<div class="card">
						<img src="{{program.poster}}" class="rounded-top img-card-show" alt="Image de la série">
						<div class="card-body">
							<p class="text-dark">{{program.synopsis}}</p>
						</div>
						<div class="season">
							<ul class="season-list list-unstyled d-flex justify-content-center align-items-center text-dark">Liste des saisons :
								{% for season in program.seasons %}
									<li class="text-dark mx-3">
										<a href="{{path('program_season_show', {"slug" : program.slug, "season": season.id})}}">{{season.number}}</a>
									</li>
								{% else %}
									<p class="text-dark">Aucune saison trouvée</p>
								{% endfor %}
							</ul>
							<ul class="actor-list list-unstyled d-flex flex-column justify-content-center align-items-center fw-bold text-dark">Acteurs :
								{% for actor in program.actors %}
									<a class="fw-normal" href="{{path('app_actor_show', {"actor" : actor.id})}}">{{ actor.name }}</a>
								{% else %}
									<li class="fw-normal">Aucun acteur pour cette série</li>
								{% endfor %}
							</ul>
						</div>
						{% if is_granted("ROLE_ADMIN") %}
							<a href="{{ path('program_edit', { 'slug': program.slug} ) }}" class="btn btn-lg">Éditer</a>
							{%endif%}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
