{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}|
	{{program.title}}
{% endblock %}

{% block body %}
	<div class="section-one-prog">
		<a class="btn btn-lg btn-light m-4" href="/program">Retour</a>
		<h1 class="p-4 text-center">{{program.title}}</h1>
		<div class="container">
			<div class="row">
				<div class="col mb-4">
					<div class="card">
						<img src="{{program.poster}}" class="rounded-top img-card-show" alt="Image de la série">
						<div class="card-body">
							<p class="text-dark">{{program.synopsis}}</p>
						</div>
						<div class="season">
							<ul class="season-list list-unstyled d-flex justify-content-center align-items-center text-dark">Liste des saisons :
								{% for season in program.seasons %}
									<li class="text-dark mx-3">
										<a href="{{path('program_season_show', {"program" : program.id, "season": season.id})}}">{{season.number}}</a>
									</li>
								{% else %}
									<p class="text-dark">Aucune saison trouvée</p>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
