<nav class="navbar navbar-expand-lg bg-valid">
	<div class="container-fluid">
		<img src="{{ asset('build/images/wcs.png') }}" alt="Logo" width="50" height="62">
		<a class="navbar-brand bg-secondary text-light fw-bold p-3" href="/">Wild Series</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="btn btn-lg btn-dark nav-link dropdown-toggle text-light mx-3" href="/program" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catégories
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('program_show', {id : 1} )}}">Action</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('program_show', {id : 2} )}}">Science Fiction</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('program_show', {id : 3} )}}">Comédie</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('program_show', {id : 4} )}}">Thriller</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="btn btn-lg btn-dark nav-link dropdown-toggle text-light mx-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Acteurs
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="#">Action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Another action</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Something else here</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light mx-3" href="#">Mes Favoris</a>
				</li>
			</ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
					<a class="nav-link text-secondary" href="#">Déconnexion</a>
				</li>
                <li class="nav-item">
					<a class="nav-link text-light" href="#">UserName</a>
				</li>
                <li class="nav-item">
					<img src="#" class="rounded-circle" alt="Image d'utilisateur">
				</li>
            </ul>
		</div>
	</div>
</nav>
